 <div class = "maindiv" style= " position:fixed;">
 <nav id="navigationid" class="navbar navbar-expand-lg navbar-light" style="background-color: #6050dc; margin-bottom: 0">
        <div class="container">
            <div class="navbar-header">
                <a href="#/dashboard" class="navbar-brand"><img src="assets/images/willo1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;Willo
                </a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#/dashboard" class="navbar-brand">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/useraccount" class="navbar-brand">User Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/financialinfo" class="navbar-brand">Financial Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/addadmin" class="navbar-brand">Add Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/customerfb" class="navbar-brand">Customer Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/login" class="navbar-brand">Sign Out</a>
            </li>
        </div>
    </nav>
</div>