<div id="maindiv">
    <nav id="navigationid" class="navbar navbar-expand-lg navbar-light" style="background-color: #6050dc">
        <div class="container">
            <div class="navbar-header">
                <a href="/dashboard" class="navbar-brand"><img src="assets/images/willo1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;Willo
                </a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" class="navbar-brand">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/useraccount" class="navbar-brand">User Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/financialinfo" class="navbar-brand">Financial Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addadmin" class="navbar-brand">Add Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customerfb" class="navbar-brand">Customer Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" class="navbar-brand">Sign Out</a>
            </li>
        </div>
    </nav>
    <div id="wrapper">
    <div id="first">
    <table id="tableid">
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
          <tr style="cursor: pointer;" *ngFor="let char of characters" (click)="loadCourseReview(char.email)">
              <td *ngFor="let col of columns">
                {{char[col]}}
              </td>
          </tr>
    </table>
    </div>
    <div id="second" *ngIf=conditionFlag class="container" style="position: relative; height:40vh; width:80vw; margin-left: 620px;">
        <font size=5 color="#6050dc">{{displayData.name}}</font>
        <br>
        <font size=3 style="font-weight:bold;">Email ID: </font>{{displayData.email}}
        <br>
        <font size=3 style="font-weight:bold;">Contact:</font>
        {{displayData.contact}}
        <br>
        <font size=3 style="font-weight:bold;">Street Address:</font>
        {{displayData.street_address}} 
        <br>
        <font size=3 style="font-weight:bold;">City:</font>
        {{displayData.city}}
        <br>
        <font size=3 style="font-weight:bold;">Country:</font>
        {{displayData.state}}
        <br>
        <font size=3 style="font-weight:bold;">Marital Status:</font>
        {{displayData.marital_status}}
        <br>
        <button (click)="onClickPDF()" id=pdfgenbutton style="color: #FFFFFF">PDF generation</button>
    </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div id="footer" class="footer-copyright text-center py-3"><font color="#FFFFFF">© 2019 Copyright: </font>
          <a href="#">Placeholder.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    <!-- Footer -->
     </div>
