<div id="maindiv">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8A33FF">
        <div class="container">
            <div class="navbar-header">
                <a href="/dashboard" class="navbar-brand"><img src="assets/images/willo1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;Willo
                </a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" class="navbar-brand">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/useraccount" class="navbar-brand">User Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/financialinfo" class="navbar-brand">Financial Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addadmin" class="navbar-brand">Add Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customerfb" class="navbar-brand">Customer Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" class="navbar-brand">Sign Out</a>
            </li>
        </div>
    </nav>
    <h1 style="text-align: center;">Customer Feedback Placeholder</h1>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold" style="text-align: center;">Footer text 1</h5>
              <p style="text-align: center;">Text for footer1</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold" style="text-align: center;">Footer text 2</h5>
              <p style="text-align: center;">Text for footer 2</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">Placeholder.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    <!-- Footer -->
     </div>
