nav a {
  color: #fff;
  }
nav a.hover {
  color: #32673f;
}
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#5282EE;
}

#sendEmailBtn{
  background-color: #39527D;
  border-color: #39527D;
}

#textId{
	height: 100px;
	width: 600px;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  border-color: #5282EE;
 }

#ConfirmUpdate{
  background-color: #39527D;
  border-color: #39527D;
  color:#FFFFFF;
  padding: 10px 20px;
  margin: 0 0 0 20px;
}

#AddPromo{
  background-color: #6050dc;
  border-color: #6050dc;
  color:#FFFFFF;
  padding: 10px 10px;
}

#ModifyPromo{
  background-color: #6050dc;
  border-color: #6050dc;
  color:#FFFFFF;
  padding: 10px 10px;
  margin: 0 0 0 10px;
}

#ResetButton{
  background-color: #39527D;
  border-color: #39527D;
  color:#FFFFFF;
  padding: 10px 10px;
  margin: 8px 0 0 20px;
}
#SubmitButton{
  background-color: #6050dc;
  border-color: #6050dc;
  color:#FFFFFF;
  padding: 10px 10px;
}

#subID{
  width: 40%;
  padding: 5px 20px;
  margin: 8px 0 0 12px;
  box-sizing: border-box;
  border-color: #5282EE;
}

#discID{
  width: 50%;
  padding: 8px 20px;
  margin: 8px 0 0 7px;
  box-sizing: border-box;
  border-color: #5282EE;
}

td.tableTag{
  
  padding:10px;
}
