body,html{
  margin:0;
  width:100%;
}
html{
    position:relative;
}
#fpwddiv {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  background-color: #5282EE;
  text-align: center;
}

#fpwdinternaldiv{
	position: absolute;
	top:20%;
}

#header1{
	position: absolute;
	top:10%;
}

#submitbutton{
  background-color: #39527D;
  border-color: #39527D;
}
