#navigationid{
  width:100%;
}
nav a {
  color: #fff;
  }
nav a.hover {
  color: #32673f;
}
canvas{
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#5282EE;
}