<div id="maindiv">
    <nav id="navigationid" class="navbar navbar-expand-lg navbar-light" style="background-color: #5282EE">
        <div class="container">
            <div class="navbar-header">
                <a href="#/dashboard" class="navbar-brand"><img src="assets/images/willo1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&nbsp;Willo
                </a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#/dashboard" class="navbar-brand">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/useraccount" class="navbar-brand">User Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/financialinfo" class="navbar-brand">Financial Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/addadmin" class="navbar-brand">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/customerfb" class="navbar-brand">Customer Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/login" class="navbar-brand">Sign Out</a>
            </li>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-6" id = "bar" class="chart-container" style=" height:50%; width:50%; ">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-xs-6" id = "doughnut" class="chart-container1" style="height:50%; width:50%;">
                <canvas id="myChart3" ></canvas>
            </div>
        </div>
      <div id = "line" class="chart-container2" style=" height:50%; width:50%; float: left;">
        <canvas id="myChart4"></canvas>
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div id="footer" class="footer-copyright text-center py-3"><font color="#FFFFFF">© 2019 Copyright: </font>
          <a id="willosite" href="http://bit.ly/mywillo">John Barbieri</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    <!-- Footer -->
     </div>
